{{#partial "content"}}
    <section>
        <nav>
            <a href="/">Home</a>
            <a href="">Add</a>
            <a href="" ></a>
            <a href="" ></a>
        </nav>
    </section>


{{/partial}}