{{#partial "content"}}
    <section>
        <nav>
            <a href="/">Home</a>
            <a href="">Add</a>
            <a href="" >Animals</a>
            <a href="" >Locations</a>
        </nav>
    </section>
    <section>
  <div class="container">
  </div>
    </section>

{{/partial}}
{{> layout.hbs}}