<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Wildlife{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' />
    <link rel='stylesheet' href='css/styles.css' />
</head>
<body>
<!--begin main template-->
<div class="container">
    <section>
        <nav>
            <a href="/">Home</a>
            <a href="">Add</a>
            <a href="" >Animals</a>
            <a href="" >Locations</a>
        </nav>
    </section>
    <div class="">
    {{#block "content"}}

    {{/block}}
    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <div class="footer">
        <footer>
            <p>Wild App</p>
        </footer>
    </div>
    </body>
    </html>
{{/block}}