{{#partial "content"}}

    <div class="container">
        <div class="ranger-details">
            <div class="card">
                <h1> Ranger Details</h1>
                <p>{{rangerName}} </p>
                <p>{{rangerBadge}}</p>
            </div>

        </div>
        <div>
            <a class="btn btn-success" href="/ranger/{{id}}/new"> Record Sighting</a>
        </div>

    </div>
{{/partial}}
{{> layout.hbs}}